*{
  border : 1px solid rgb(255, 255, 255); /* 1 */
  box-sizing: border-box /* 2 */
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  
}

ul{
  list-style: none;
  padding-left: 0px;
}


.workout-button {
  font-size: 18px;
  margin: 0 5px;
  background-color: transparent; 
}

.workout-button:hover{
  opacity: 0.7;
}

.workout-increase,
.workout-decrease
{ 
  color: goldenrod;
}

.workout-delete
{
  color: darkred;
}

.navbar{
  font-size: 28px;
  padding: 20px;

}

.navbar-logo{
  color: green;
}

.navbar-count{
  display: inline-block;
  background-color: green;
  width: 30px;
  height: 30px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.add-input{
  font-size: 30px;
  background-color: bisque;
  border-radius: 8px;
}

.add-button{
  font-size: 22px;
  background-color: green;
  color: white;
  font-size: 1.4em;
  padding: 0.21em;
}